 body{
    background-color: rgb(127, 255, 127);}
    h1{text-align: center;}
    p{font-size: medium;}
    p{color: rgb(0, 0, 0);}
    p{text-align: center;}
    p{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
    img{width: 300px;}
    img{height: 300px;}
    img{margin: 40px;}